

@{
    ViewData["Title"] = "Home Page";
    
   
}


<div class="text-center">
    <h2 >Сервис по автоматическому формированию метаданных</h2>
    
</div>

<div>

    <p>Выберите файл: </p>
    @using (Html.BeginForm("Click", "Home", FormMethod.Post))
        {
            <button type="submit" value="select">Выбрать файл</button>
        }
       

</div>

<div>

    <p></p>
    <table>
        <tr>
            <th>Файл:</th>
            <th>
                @ViewData["File"]
            </th>
        </tr>
        <tr>
            <th>Формат:</th>
            <th>
                @ViewData["Format"]
            </th>
        </tr>
        <tr>
            <th>Название:</th>
            <th>
                @ViewData["Name"]
            </th>
        </tr>
        <tr>
            <th>Автор:</th>
            <th>
                @ViewData["Author"]
            </th>
        </tr>
        <tr>
            <th>Год:</th>
            <th>
                @ViewData["Year"]
            </th>
        </tr>
        <tr>
            <th>Аннотация: &nbsp;</th>
            <th>
                @ViewData["Annotation"]
            </th>
        </tr>
        <tr>
            <th>Ключевые слова:</th>
            <th>
                @ViewData["KeyWords"]
            </th>
        </tr>
        <tr>
            <th>Литература:</th>
            <th>
                @ViewData["References"]
            </th>
        </tr>
        <tr>
            <th>Формулы:</th>
            <th>
                @ViewData["Maths"]
            </th>
        </tr>
    </table>
    
</div>